{% extends 'base.html' %}

{% block title %}
Register
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container">
        <form method="POST" class="form-register" style="color:white">

            {{ form.hidden_tag() }}

            {{ form.name.label() }}
            {{ form.name(class="form-control", placeholder="Name", value=current.name) }}

            {{ form.lastname.label() }}
            {{ form.lastname(class="form-control", placeholder="Lastname", value=current.lastname) }}

            {{ form.address.label() }}
            {{ form.address(class="form-control", placeholder="Address", value=current.address) }}

            {{ form.city.label() }}
            {{ form.city(class="form-control", placeholder="City", value=current.city) }}

            {{ form.country.label() }}
            {{ form.country(class="form-control", placeholder="Country", value=current.country) }}

            {{ form.phone_number.label() }}
            {{ form.phone_number(class="form-control", placeholder="Phone number", value=current.phone_number) }}

            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email", value=current.email) }}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password", value=current.password) }}

            {{ form.confirm.label() }}
            {{ form.confirm(class="form-control", placeholder="Confirm password", value=current.password) }}

            <br>

            {{ form.submit(class="btn btn-lg btn-block btn-primary") }}

            <br>
            <br>

        </form>
    </div>
</body>


{% endblock %}